@font-face {
    font-family: 'DegularDisplay';
    src: url(../fonts/DegularDisplay-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'DegularDisplay';
    src: url(../fonts/DegularDisplay-Bold.woff2) format('woff2');
    font-weight: 700;
}


@font-face {
    font-family: 'pretendard';
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
}


@font-face {
    font-family: 'SofiaPro';
    src: url(../fonts/SofiaProBold.eb26396e.woff2) format('woff2');
    font-weight: 700;
}



